*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
}

#container{
    display: grid;
    grid-template-rows: 100vh;
    grid-template-areas: 'top';
}

.top{
    grid-area: top;
    background-image: url('imgs/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}