*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
}

#container{
    display: grid;
    grid-template-rows: 100vh;
    grid-template-areas: 'top';
}

.top{
    grid-area: top;
    background-image: url('imgs/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo{
    margin-left: 1rem;
}

.hamburger{
    margin-right: 1rem;
}

.words_arrow{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 50vh;

}

h1{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    text-align: center;
    color: #fff;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
    
}

.arrow{
    position: absolute;
    top: 55vh;

}

.links_large{
    display: none;
}

#links_small{
   position: absolute;
   width: 7rem;
   height: 10rem;
   right: 6rem;
   top: 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-color: #fff;
   border-radius: 1rem;
   padding: 1rem;
}





@media screen and (min-width:768px) {

br{
    display: none;
}

h1{
   font-size: 3.5rem;
    
}

    .top{
        background-image: url('imgs/desktop/image-header.jpg');
       
    }

    .hamburger{
        display: none;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .links_large{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 25rem;

    }
    .links_large li{
        color: white;
    }

    #contact{
        background-color: #fff ;
        padding: 1rem;
        border-radius: 1rem;
        color: #24303E;
    }

    .arrow{
        position: absolute;
        top: 45vh;
    
    }

    #links_small{
        display: none;
    }
}