*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
}

#container{
    display: grid;
    grid-template-rows: 100vh 1fr;
    grid-template-areas: 'top'
                         'second';
}

.top{
    grid-area: top;
    background-image: url('imgs/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo{
    margin-left: 1rem;
}

#hamburger{
    margin-right: 1rem;
    cursor: pointer;
}

.words_arrow{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 50vh;

}

h1{
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    text-align: center;
    color: #fff;
    line-height: 2.5rem;
    letter-spacing: 0.3rem;
    
}

.arrow{
    position: absolute;
    top: 55vh;

}

.links_large{
    display: none;
}

#links_small{
   position: absolute;
   width: 90%;
   height: 40%;
   top: 8%;
   left: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: #fff;
   border-radius: 1rem;
   padding: 1rem;
   margin-top: 2rem;
   display: none;
}

#small_triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 5vw;
    top: 4.3rem;
    display: none;
    
}

#contact2{
    background-color: yellow ;
    padding: 1rem;
    border-radius: 1rem;
    color: #24303E;
}

#contact2:hover{
    color: yellow;
    background-color: #24303E;
}

.second{
    grid-area: second;
    display: grid;
    grid-template-rows: 50vh 50vh 50vh 50vh 70vh 70vh ;
    grid-template-areas: 'egg'
                        'words1'
                        'cup'
                        'words2'
                        'graphic'
                        'photography';
}

.egg{
    grid-area: egg;
    background-image: url('imgs/mobile/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.words{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.words1{
    grid-area: words1;
}

.words h2{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.words p{
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #808397;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;
    letter-spacing: 0.1rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
   
    
   
}

.colorbar{
position: absolute;
width: 110px;
background-color: rgba(153, 50, 204, 0.363);
border-radius: 1rem;
height: 0.5rem;
top: 0.7rem;
}

.cup{
    grid-area: cup;
    background-image: url('imgs/mobile/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.words2{
    grid-area: words2;
}

.graphic{
    grid-area: graphic;
    background-image: url('imgs/mobile/image-graphic-design.jpg');
}

.bigend{
    background-repeat: no-repeat;
    background-size: cover;
   background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photography{
    grid-area: photography;
    background-image: url('imgs/mobile/image-photography.jpg');
}

.bigend h2{
    font-size: 1.5rem;
    margin-top: 20rem;
    color: #24554A;
}

.bigend p{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    color: #24554A;
    font-family: 'Barlow', sans-serif;
    line-height: 2rem;
}






@media screen and (min-width:768px) {

br{
    display: none;
}

h1{
   font-size: 3.5rem;
    
}

    .top{
        background-image: url('imgs/desktop/image-header.jpg');
       
    }

    #hamburger{
        display: none;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .links_large{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 25rem;

    }
    .links_large li{
        color: white;
    }

    .links_large li:hover{
        color: yellow;
    }



    #contact{
        background-color: #fff ;
        padding: 1rem;
        border-radius: 1rem;
        color: #24303E;
    }

    #contact:hover{
        color: #fff;
        background-color: rgba(255, 255, 255, 0.493);
    }

    .arrow{
        position: absolute;
        top: 45vh;
    
    }

    #links_small{
        display: none !important;
    }

    #small_triangle{
      display: none !important;
        
    }

    .second{
        grid-area: second;
        display: grid;
        grid-template-rows: 550px 550px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'words1 egg'
                            'cup words2';
    }

    .egg{
        background-image: url('imgs/desktop/image-transform.jpg');
     
    }

   

    .words{
      text-align: left;
      align-items: center;
      justify-content: center;
    }

    .words h2{
        font-size: 3rem;
        line-height: 3.5rem;
    }

    a{
        justify-content: flex-start;
        font-size: 1.2rem;
    }
    .colorbar{
        width: 125px;
    }

    .words p{
        padding-left: 0rem;
        max-width: 600px;
        font-size: 1.3rem;
        line-height:2.5rem;
     
    }

    .words_text{
        width: 75%;
    }
}